<div class="container">
  <h2>Популярные фильмы</h2>
  <div class="filter-container">
    <mat-form-field appearance="outline" >
      <mat-select #teams  (valueChange)="onSetGenre(teams.value+1)" value="Все" placeholder="Все">
        <mat-option>Все</mat-option>
        <mat-option *ngFor="let genre of genres" [value]="genres.indexOf(genre)" style="text-transform: capitalize">
          {{genre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
      <mat-form-field appearance="outline">
        <input [(ngModel)]="searchText" (keyup)="onTitleSearch()" matInput placeholder="Введите название" type="text">
      </mat-form-field>
  </div>
  <ul class="movie-container">
    <li (click)="getDetailInfo(movie.id-1)" class="movie-card" *ngFor="let movie of movies">
      <img  class="movie-image" src="images/movies/{{movie.id}}.jpeg" height="26" alt="1234">
      <h4 class="movie-title">{{movie.name}}</h4>
      <div class="genres-container">
        <span class="movie-genre" *ngFor="let idGenre of movie.genre; let isLast = last">{{genres[idGenre-1]}}{{isLast ? '' : ', '}}</span>
      </div>
      <span class="movie-year">{{movie.year}}</span>
      <button (click)="setBestMovie($event, movie.id)" class="movie-btn" mat-icon-button >
        <mat-icon *ngIf="!(movie.id == bestMovie.getValue())">favorite_border</mat-icon>
        <mat-icon class="favorite-btn" *ngIf="movie.id == bestMovie.getValue()">favorite</mat-icon>
      </button>
    </li>
  </ul>

  <h2>Самый лучший фильм</h2>
  <div *ngIf="bestMovie.getValue() !== -1" class="movie-container" >
    <div (click)="getDetailInfo(bestMovie.getValue()-1)" class="movie-card">
      <img  class="movie-image" src="images/movies/{{allMovies[bestMovie.getValue()-1].id}}.jpeg" height="26" alt="1234">
      <h4 class="movie-title">{{allMovies[bestMovie.getValue()-1].name}}</h4>
      <div class="genres-container">
        <span class="movie-genre" *ngFor="let idGenre of allMovies[bestMovie.getValue()-1].genre; let isLast = last">{{genres[idGenre-1]}}{{isLast ? " " : ", "}}</span>
      </div>
      <span class="movie-year">{{allMovies[bestMovie.getValue()-1].year}}</span>
      <button (click)="setBestMovie($event, allMovies[bestMovie.getValue()-1].id)" class="movie-btn" mat-icon-button>
        <mat-icon class="favorite-btn">favorite</mat-icon>
      </button>
    </div>
  </div>
</div>